.advantages {
  padding: 1.25rem;

  background-color: var(--c-special-yellow);
  background-image: url("../../img/backgrounds/advantages@2x.avif");
  background-size: cover;
  border-radius: 1rem;
}

.advantages__inner {
  padding: 2.5rem;

  background-color: var(--c-basic-extra-light);
  border-radius: 1rem;
}

.advantages__title {
  margin-bottom: 3.5rem;

  text-align: center;
}

.advantages__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-gap: 2rem;
}

.advantages__text {
  margin: 0;
}
