.breadcrumbs {
  padding-top: 1rem;

  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.breadcrumbs__list {
  display: inline-grid;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-auto-flow: column;
  grid-gap: 0.5rem;
}

.breadcrumbs__item {
  display: inline-grid;
  align-items: center;

  grid-auto-flow: column;
  grid-gap: 0.5rem;
}

.breadcrumbs__item:not(:last-of-type)::after {
  content: "";

  display: block;
  width: 0.75rem;
  height: 0.75rem;

  background-image: url("../../img/stack.svg#chevrons-right");
  background-size: cover;
}

.breadcrumbs__link {
  padding-bottom: 0.125rem;

  color: inherit;
  text-decoration: none;

  border-bottom: 1px solid transparent;
}

.breadcrumbs__link[href]:hover {
  opacity: 0.6;
}

.breadcrumbs__link--current {
  border-color: currentColor;
}