.gifts__title {
  max-width: 434px;
  margin: 0 auto 54px;

  text-align: center;
}

.gifts__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.gifts__item {
  display: grid;
  padding: 36px;

  background-color: var(--c-special-neutral);
  background-position: right bottom;
  border-radius: 16px;

  gap: 28px;
  grid-template-columns: 316px;
  place-items: start;
}

.gifts__item:first-of-type {
  background-image: url("../img/backgrounds/gift-1.avif");
  background-repeat: no-repeat;
}

.gifts__item:nth-of-type(2) {
  background-image: url("../img/backgrounds/gift-2.avif");
  background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2),(min-resolution:2dppx) {
  .gifts__item:first-of-type {
    background-image: url("../img/backgrounds/gift-1@2x.avif");
  }

  .gifts__item:nth-of-type(2) {
    background-image: url("../img/backgrounds/gift-2@2x.avif");
  }
}

.gifts__text {
  margin: 0;
}

.gifts__btn {
  align-self: end;
}
