.pagination {
  padding: 1rem 0;

  line-height: 1.25rem;
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__item {
  display: flex;
}

.pagination__item:first-of-type {
  margin-right: 0.5rem;
}

.pagination__item:last-of-type {
  margin-left: 0.5rem;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.125rem;

  text-align: center;
  color: inherit;
  text-decoration: none;

  border-radius: 5rem;
}

.pagination__link--current {
  background-color: var(--c-basic-extra-light);
}

.pagination__link--disabled {
  opacity: 0.3;
}
